* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

button:focus {
  outline: none;
}

.container {
  padding: 0 5%;
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 8px #000;
          box-shadow: 2px 2px 8px #000;
}

.text-shadow {
  text-shadow: 2px 2px #000;
}

.navbar {
  width: 100%;
  height: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#262626));
  background-image: linear-gradient(#333, #262626);
  color: #fff;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.navbar .navbar__logo {
  font-size: 1.3rem;
  font-family: "Molle", cursive;
}

.navbar .navbar__logo a {
  font-family: "Molle", cursive;
  text-shadow: none;
}

.navbar .navbar__logo a:hover {
  color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .button-wrapper .toggle-toolbox-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #1a74a8;
  color: #fff;
  border: none;
  border-radius: 50%;
}

.navbar .button-wrapper .toggle-toolbox-btn i {
  font-size: 1.5rem;
}

.navbar .button-wrapper .toggle-toolbox-btn.toggled {
  -webkit-transform: rotateZ(-225deg);
          transform: rotateZ(-225deg);
  background-color: #b63131;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .toolbox {
  position: absolute;
  top: -700px;
  right: 4px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.navbar .toolbox div {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 1rem 0;
}

.navbar .toolbox div:last-child {
  border-bottom: none;
}

.navbar .toolbox div p {
  margin-bottom: 0.5rem;
}

.navbar .toolbox .toolbox-btn {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0.2rem;
  border: 1px solid #fff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.navbar .toolbox .toolbox-btn:hover {
  background-color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .toolbox .toolbox-btn.bt-selected {
  border: 3px solid #1a74a8;
}

.navbar .toolbox .toolbox-btn.bs-selected {
  border: 3px solid #1a74a8;
}

.navbar .toolbox .toolbox-btn.c-selected {
  border: 3px solid #1a74a8;
}

.navbar .toolbox .clear-btn {
  cursor: pointer;
  width: 90%;
  font-size: 1.2rem;
  background-color: #fff;
  color: #1a74a8;
  border: none;
  padding: 6px 0;
}

.navbar .toolbox .clear-btn:hover {
  background-color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .toolbox.toggled {
  top: 64px;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

#canvas {
  display: block;
}

#canvas:hover {
  cursor: crosshair;
}
